{% extends 'base_content.html' %}
{% block title %}
{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-between">
    <h1 class="col-7">
      {{club.club_name}}
      {%include 'partials/club_feed_settings_dropdown.html' with  club=club user_role=user_role number_of_applicants=number_of_applicants%}
        </h1>
  </div>
</div>

<div class="container">
  <p>Search for a member:</p>
  <form action="{% url 'search_member' club.club_name%}" method="get">
    {% csrf_token %}
    <div class="input-group mb-3">
      <input name ="member_name" type="text" id="" class="form-control" placeholder="Member's name" aria-label="Member's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button type="submit" class="btn btn-dark">
          Search
        </button>
      </div>
    </div>
  </form>
</div>

<div class="container">
  <p>Your fellow members:</p>
</div>
<div class="container">
  <div class="card">
  <div class="row">
    <div class="col-12">
      {%include 'partials/club_feed_table.html' with owner=owner officers=officers members=members user_role=user_role%}
      </div>
    </div>
  </div>
</div>

{% endblock %}
