{% extends 'base_content.html' %}
{% block title %}
{% endblock %}
{% block content %}

<div class="container">
  <div class="card">
  <div class="jumbotron">
    <h1 class="display-4">{{club.club_name}}</h1>
    <p class="lead">Owner: {% for owner in club.get_owner %}<p>{{ owner.full_name }}</p>{% endfor %}</p>
    <hr class="my-4">
    <p>{{club.description}}</p>
    <p class="lead">
      {% if is_banned %}
      <a href="#" class="btn btn-dark btn-lg disabled" role="button" aria-disabled="true">Sorry you are banned. You cannot apply this club.</a>
      {% endif %}
      {% if is_applicant %}
      <a href="#" class="btn btn-dark btn-lg disabled" role="button" aria-disabled="true">Apply for membership</a>
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Whoops!</h4>
        <p>It looks like you have already applied to join this club.</p>
        <hr>
        <p class="mb-0">Hang tight while a club officer reviews your application.</p>
      </div>
      {%endif%}
      {% if is_applicant %}
        <form action = "{% url 'withdraw_application' club.club_name user.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">
            Withdraw
          </button>
          <p>
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">Application pending!</h4>
              <p>It looks like you have already applied to join this club.</p>
              <hr>
              <p class="mb-0">Hang tight while a club officer reviews your application.</p>
              <hr>
              <p class="mb-0">Meanwhile, if you change your mind you can withdraw your application.</p>
            </div>
          </p>
      {%endif%}

      {% if is_member %}
      <form action = "{% url 'club_feed' club.club_name%}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-dark">
          Go to club
        </button>
        {%endif%}
        {%if is_member == False and is_applicant == False and is_banned == False%}
        <form action = "{% url 'apply_to_club' club.club_name%}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">
            Apply!
          </button>
          <p>
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">Apply to club!</h4>
              <p>It looks like you are not a member of this club yet.</p>
              <hr>
              <p class="mb-0">You can apply here.</p>
            </div>
          </p>
      {% endif %}
    </p>
  </div>
</div>
{% endblock %}
