{% extends 'base_content.html' %}
{% block title %}
{% endblock %}
{% block content %}

<div class="container">
  <div class="float-none">
    <form action = "{% url 'create_club' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-dark">
        Create club <i class="bi bi-plus-circle-fill"></i>
      </button>
    </form>
  </div><br>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          My clubs
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="d-grid gap-2">
            <tr>
              <td>
                <div class="row">
                  {%if user_clubs.count != 0%}
                    {% for club in user_clubs %}
                    <div class="col-sm-6">
                      <tr>
                        <td>
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title"><font size="+2">{{club.club_name}}</font></h5>
                              <a class="btn btn-success" href='{% url 'club_feed' club.club_name %}' role="button">Select</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </div>
                    {%endfor%}
                    {%endif%}
                    {%if user_clubs.count == 0%}
                    <div class="alert alert-warning" role="alert">
                      <h4 class="alert-heading">My clubs is empty!</h4>
                      <p>It looks like you haven't joined any club. Check out clubs below to start your journey in chess! </p>
                    </div>
                    {%endif%}
                </div>
                </div>
              </td>
            </tr>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo"><font size="+2">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          All clubs
        </button>
      </font>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
          <div class="d-grid gap-4">
            <div class="row">
              {% for club in clubs %}
              <div class="col-sm-6">
                <tr>
                  <td>
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">{{club.club_name}}</h5>
                        <a class="btn btn-dark" href='{% url 'club_welcome' club.club_name %}' role="button">Learn more</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </div>
              {%endfor%}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree"><font size="+2">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          Pending applications
        </button>
        </font>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
          <div class="d-grid gap-2">
            {%if user_applicant_clubs.count != 0%}
            {% for club in user_applicant_clubs %}
            <tr>
              <td>
                <a class="btn btn-danger" href='{% url 'club_feed' club.club_name %}' role="button">{{club.club_name}}</a>
              </td>
            </tr>
            {%endfor%}
            {%endif%}
            {%if user_applicant_clubs == 0%}
            <div class="alert alert-warning" role="alert">
              <h5 class="alert-heading">No pending applications</h5>
            </div>
            {%endif%}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
