{% extends 'base.html' %}
{% block body %}
<div id="cover-image">
  <div class="container vh-100">
    <div class="row h-100">
      <div class="col-xs-12 col-lg-6 col-xl-4">
        <div class="card cover-card offset-sm-2 offset-md-4 offset-lg-7">
          <h1 class="cover-heading">Chess Island</h1>
          <p class="cover-text">Checkmate your way to the top.</p>
          <p>
        <a href='{% url 'home' %}' class="btn btn-lg btn-secondary">
          Sign up
        </a>
      </p>
      <p>
        <a href='{% url 'log_in' %}' class="btn btn-lg btn-secondary">
          Log in
        </a>
      </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
