{% extends 'base_content.html' %}
{% block title %}
Log in
{% endblock %}
{% block content %}
    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
            <div id="login-box" class="col-md-12">
            <div class="card cover-card offset-sm-6 offset-md-9 offset-lg-3">
                <h1 class="cover-heading">Login</h1>
                <form action="{% url 'log_in' %}" method="post" class="text-dark">
                  {% csrf_token %}
                    <input type='hidden' name='next' value='{{next}}'>
                      {% include 'partials/bootstrap_form.html' with form=form %}
                  <input type="submit" value="Log in" class="btn btn-dark">
                </form>
                <p><a href="{% url 'sign_up' %}" class="text-dark">Don't have an account yet? Sign up here!</a></p>
              </div>
            </div>
        </div>
{% endblock %}
