{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row justify-content-between">
    <h1 class="col-5">
Member management
</h1>
  </div>
</div>
<div class="container">
  <div class="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Members
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="d-grid gap-2">
            <tr>
              <td>
                <div class="row">
                  <div class="col-12">
                    {%if members.count != 0%}
                    {%include 'partials/member_management_member_table.html' with members=members %}
                      {%endif%}
                      {%if members.count == 0%}
                      <div class="alert alert-warning" role="alert">
                        <h5 class="alert-heading">There are currently no users with member role.</h5>
                      </div>
                      {%endif%}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo"><font size="+2">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Banned users
              </button>
              </font>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
              <div class="accordion-body">
                <div class="d-grid gap-2">
                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-12">
                          {%if banned.count != 0%}
                          {%include 'partials/member_management_banned_table.html' with banned=banned %}
                            {%endif%}
                            {%if banned.count == 0 %}
                            <div class="alert alert-warning" role="alert">
                              <h5 class="alert-heading">No banned users.</h5>
                            </div>
                            {%endif%}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      {%endblock%}
