{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row justify-content-between">
    <h1 class="col-5">
      Officers:
    </h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        {%if officers.count != 0%}
        {%include 'partials/officer_list_table.html' with  officers=officers%}
        {%endif%}
        {%if officers.count == 0%}
        <div class="alert alert-warning" role="alert">
          <h5 class="alert-heading">There are currently no users with officer role.</h5>
        </div>
        {%endif%}
      </div>
    </div>
  </div>
</div>
  {%endblock%}
