{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="card cover-card offset-sm-6 offset-md-12 offset-lg-4">
      <h1 class="cover-heading">Change password</h1>
      <form action="{% url 'password' %}" method="post" class="text-dark">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <input type="submit" value="Change password" class="btn btn-dark">
      </form>
      <p><a href="{% url 'feed' %}" class="text-dark">Don't want to make changes anymore? Click here to cancel</a></p>
    </div>
</div>
{% endblock %}
