{% extends 'base_content.html' %}
{% block title %}
| Show user
{% endblock %}
{% block content %}
<div class="container">
  <div class="card">
  <div id="show_user-row" class="row justify-content-center align-items-center">
      <div id="show_user-column" class="col-md-12 offset-lg-6">
            <div class="col-xs-12 col-lg-6 col-xl-4 class="text-dark"">
              {% include 'partials/user_profile.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
