{% extends 'base_content.html' %}
{% block title %}
Sign Up
{% endblock %}
{% block content %}
<div id="sign_up-row" class="row justify-content-center align-items-center">
    <div id="sign_up-column" class="col-md-6">
        <div id="sign_up-box" class="col-md-12">
        <div class="card cover-card offset-sm-6 offset-md-9 offset-lg-3">
            <h1 class="cover-heading">Sign Up</h1>
            <form action="{% url 'sign_up' %}" method="post" class="text-dark">
              {% csrf_token %}
              {% include 'partials/bootstrap_form.html' with form=form %}
              <input type="submit" value="Sign Up" class="btn btn-dark">
            </form>
            <p><a href="{% url 'log_in' %}" class="text-dark">Already had an account? Log in here!</a></p>
          </div>
        </div>
    </div>
{% endblock %}
